<div class="row content-box">
    <div class="col-md-12">
  
  
      <table class="table table-hover">
        <thead>
          <th >Leave ID 
          </th>
          <th >Username
          </th>
          <th >Leave Type 
          </th>
          <th >Start Date 
          </th>
          <th >End Date 
          </th>
          <th >Status 
          </th>
          <th>Action</th>
        </thead>
        <tbody *ngIf="leaves">
          <tr *ngFor="let item of leaves">
            <td>{{item._id}}</td>
            
            <td>
                {{item.username}}
            </td>
            <td>
                {{item.leavetype}}
            </td>
            <td>
                {{item.startdate.slice(0,10)}}
            </td>
            <td>
                {{item.enddate.slice(0,10)}}
            </td>

            
            <td>{{ item.status ? "Approved" : "Pending" }}</td>
           
                <td>
                   <a routerLink= "/updateleaves" [state]= "{id: item._id}"> <button mat-raised-button>Update</button></a> 
                    
                   <a routerLink= "/deleteleaves" [state]= "{id: item._id}"> <button mat-raised-button>Delete</button></a> 
                </td>
          </tr>
        </tbody>
      </table>
  
     
  
    </div>
  </div>