<!DOCTYPE html>
<html>

<head>
  <title>Apply Leave</title>
  <link rel="stylesheet" type="text/css" href="applyleave.component.css">
</head>

<body
  background="https://wallpapermemory.com/uploads/724/honeycomb-background-hd-1920x1440-166080.jpg">
  <div class="col-md-12">
    <div class="card card-container" >
      <img id="profile-img"
        src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png"
        class="profile-img-card" />
      <h1 class="application">Leave Application</h1>
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input
          type="text"
          class="form-control"
          name="username"
        
          value = {{currentUser.username}}
          required
          disabled
          minlength="3"
          maxlength="20"
          
         
        >
        
          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="leavetype">Leave Type</label>
          <!-- <form method="post"> -->
            <!-- <input type="list"  class="form-control" [(ngModel)]="form.leavetype" #leavetype="ngModel"/>
            <select name="Leave Type">
              <option value="January">January</option>
              </select>
            <!-- <input list="leavetype">
            <datalist id="leavetype">
              <option value="Sick Leave">
              <option value="Firefox">
              <option value="Chrome">
              <option value="Opera">
              <option value="Safari">
            </datalist> 
          </form> --> 

          <input type="text" class="form-control" name="leavetype" [(ngModel)]="form.leavetype" required maxlength="40" #leavetype="ngModel" />
        </div>
        <label for="schedule">Leave Schedule</label>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

       

        <div class="form-group">
          <button class="btn btn-primary btn-block">Apply Leave</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isApplyleaveFailed">
          Apply Leave failed!<br />{{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Leave successfully Applied!
      </div>
    </div>
  </div>
</body>

</html>