<!DOCTYPE html>
<html>

<head>
  <title>Apply Leave</title>
  <link rel="stylesheet" type="text/css" href="applyleave.component.css">
</head>

<body
  background="https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80">
  <div class="col-md-12">
    <div class="card card-container" >
      <img id="profile-img"
        src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
        class="profile-img-card" />
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input
          type="text"
          class="form-control"
          name="username"
        
          value = {{currentUser.username}}
          required
          disabled
          minlength="3"
          maxlength="20"
         
         
        >
        
          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="leavetype">Leave Type</label>

          <input type="text" class="form-control" name="leavetype" [(ngModel)]="form.leavetype" required maxlength="40"
            #leavetype="ngModel" />
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

       

        <div class="form-group">
          <button class="btn btn-primary btn-block">Apply Leave</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isApplyleaveFailed">
          Apply Leave failed!<br />{{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Leave successfully Applied!
      </div>
    </div>
  </div>
</body>

</html>