
<html>


  <body
  background="https://wallpapermemory.com/uploads/724/honeycomb-background-hd-1920x1440-166080.jpg">
  <div class="main">
    <br>
    <h1><mark> Web Technology Final Review G2</mark></h1>
    <h1><mark>Employee Leave Management System</mark></h1>
    <br>
    <div class="container">
      <div class="col">
      <div class="draw-border">
        <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg" alt="Person" class="card__image">
        <p class="card__name">Name: Rajesh Sahoo</p>
        <div class="grid-container">
          <div class="grid-child-posts">
            Batch: B1
            
          </div>
    
          <div class="grid-child-followers">
            Roll no. : 90
          </div>
        </div>
      </div>

    
      </div>
      <div class="draw-border">
        <img src="https://icon-library.com/images/87-512_23239.png" alt="Person" class="card__image">
        <p class="card__name">Name: Suparna Das</p>
        <div class="grid-container">
          

        <div class="grid-child-posts">
          Batch: B1
        </div>
  
        <div class="grid-child-followers">
          Roll no. : 78
        </div>
      </div>
    </div>
      <br>

      <div class="col">
      <div class="draw-border">
        
        <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg" alt="Person" class="card__image">
        <p class="card__name">Name: Dashmesh Singh</p>
        <div class="grid-container">
    
          <div class="grid-child-posts">
            Batch: B1
          </div>
    
          <div class="grid-child-followers">
            Roll no. : 97
          </div>
        </div>
        </div>
      </div>

      <div class="draw-border">
        <img src="https://icon-library.com/images/87-512_23239.png" alt="Person" class="card__image">
        <p class="card__name">Name: Anushka Yadav</p>
        <div class="grid-container">
    
          <div class="grid-child-posts">
            Batch: B1
          </div>
    
          <div class="grid-child-followers">
            Roll no. : 76
          </div>
    
        </div>
       
      </div>
    </div>
</div>
</body>
</html>