
<html>


<body>
  <div class="main">
    <h1> WEB TECHNOLOGY FINAL REVIEW</h1>
    <br>
    <!-- <div class="card1">
      <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png" alt="Avatar" style="width:100%">
      <div class="container1">
        <h4><b>Jane Doe</b></h4> 
        <p>Interior Designer</p> 
      </div>
    </div>

    <div class="card2">
      <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png" alt="Avatar" style="width:100%">
      <div class="container2">
        <h4><b>Jane Doe</b></h4> 
        <p>Interior Designer</p> 
      </div>
    </div>

    <div class="card3">
      <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png" alt="Avatar" style="width:100%">
      <div class="container3">
        <h4><b>Jane Doe</b></h4> 
        <p>Interior Designer</p> 
      </div>
    </div>

    <div class="card4">
      <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png" alt="Avatar" style="width:100%">
      <div class="container4">
        <h4><b>Jane Doe</b></h4> 
        <p>Interior Designer</p> 
      </div>
    </div> -->

    <!-- <h1>WEB TECHNOLOGY REVIEW 1</h1> -->
    <div class="container">
      <div class="col">
      <div class="draw-border">
        <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg" alt="Person" class="card__image">
        <p class="card__name">Rajesh Sahoo</p>
        <div class="grid-container">
          <div class="grid-child-posts">
            B1
          </div>
    
          <div class="grid-child-followers">
            90
          </div>
        </div>
      </div>

    
      </div>
      <div class="draw-border">
        <img src="https://icon-library.com/images/87-512_23239.png" alt="Person" class="card__image">
       
        <p class="card__name">Suparna Das</p>
        <div class="grid-container">
        

        <div class="grid-child-posts">
          B1
        </div>
  
        <div class="grid-child-followers">
          78
        </div>
      </div>
    </div>
      <br>

      <div class="col">
      <div class="draw-border">
        
        <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg" alt="Person" class="card__image">
        <p class="card__name">Dashmesh Singh</p>
        <div class="grid-container">
    
          <div class="grid-child-posts">
            B1
          </div>
    
          <div class="grid-child-followers">
            97
          </div>
        </div>
        </div>
      </div>

      <div class="draw-border">
        <img src="https://icon-library.com/images/87-512_23239.png" alt="Person" class="card__image">
        <p class="card__name">Anushka Yadav</p>
        <div class="grid-container">
    
          <div class="grid-child-posts">
            B1
          </div>
    
          <div class="grid-child-followers">
            76
          </div>
    
        </div>
       
      </div>
    </div>
</div>
</body>
</html>