@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

body {
    margin: 0;
    font-size: large;
  }
  
.main{
    font-size: large;
    height: 100%;
    left: 400px;
    padding: 0.5px;
  text-align: center;
    top:0px;
    font-family: 'Numans', sans-serif;
    text-align: center;
    color: black;  
    background-color: #E6E6FA;
}

  .container {
    display: grid;
    grid-template-columns: 400px 350px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: darkgray; */
    /* background-image: url("https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"); */
    font-family: 'Baloo Paaji 2', cursive;
  }
  
  .card {
    background-color: #222831;
    height: 20rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: white;
  }
  
  .card__name {
    margin-top: 15px;
    font-size: 1.5em;
  }
  
  .card__image {
    height: 169px;
    width: 160px;
    border-radius: 70%;
    /* border: 5px solid #272133; */
    margin-top: 20px;
    /* box-shadow: 0 10px 50px rgb(25, 109, 235); */
  }
  
  
  .draw-border {
    box-shadow: inset 0 0 0 4px #58cdd1;
    color: #fafeff;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    height: 20rem;
    width: 20rem;
    left:200px;
    backdrop-filter: 0.8;
  }
  
  .draw-border::before,
  .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
  }
  
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  
  .draw-border:hover {
    color: #ffe593;
  }
  
  .draw-border:hover::before,
  .draw-border:hover::after {
    border-color: #eb196e;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
  }
  
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.75em 2em;
    letter-spacing: 0.05rem;
    margin: 1em;
    width: 13rem;
  }
  
 /* .col{
    float: left;
 } */
  
  
 
  
 
  
 
  

  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    font-size: 1.2em;
  }
  