
<html>


<body>
  <div class="main">
    <h1> Web Technology Final Review</h1>
    <h1>Employee Leave Management System</h1>
    <br>
    <!-- <div class="card1">
      <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png" alt="Avatar" style="width:100%">
      <div class="container1">
        <h4><b>Jane Doe</b></h4> 
        <p>Interior Designer</p> 
      </div>
    </div>

    <div class="card2">
      <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png" alt="Avatar" style="width:100%">
      <div class="container2">
        <h4><b>Jane Doe</b></h4> 
        <p>Interior Designer</p> 
      </div>
    </div>

    <div class="card3">
      <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png" alt="Avatar" style="width:100%">
      <div class="container3">
        <h4><b>Jane Doe</b></h4> 
        <p>Interior Designer</p> 
      </div>
    </div>

    <div class="card4">
      <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png" alt="Avatar" style="width:100%">
      <div class="container4">
        <h4><b>Jane Doe</b></h4> 
        <p>Interior Designer</p> 
      </div>
    </div> -->

    <!-- <h1>WEB TECHNOLOGY REVIEW 1</h1> -->
    <div class="container">
      <div class="col">
      <div class="draw-border">
        <img src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no" alt="Person" class="card__image">
        <p class="card__name">Name: Rajesh Sahoo</p>
        <div class="grid-container">
          <div class="grid-child-posts">
            Batch: B1
          </div>
    
          <div class="grid-child-followers">
            Roll no. : 90
          </div>
        </div>
      </div>

    
      </div>
      <div class="draw-border">
        <img src="https://lh3.googleusercontent.com/ytP9VP86DItizVX2YNA-xTYzV09IS7rh4WexVp7eilIcfHmm74B7odbcwD5DTXmL0PF42i2wnRKSFPBHlmSjCblWHDCD2oD1oaM1CGFcSd48VBKJfsCi4bS170PKxGwji8CPmehwPw=w200-h247-no" alt="Person" class="card__image">
        <p class="card__name">Name: Suparna Das</p>
        <div class="grid-container">
        

        <div class="grid-child-posts">
          Batch: B1
        </div>
  
        <div class="grid-child-followers">
          Roll no. : 78
        </div>
      </div>
    </div>
      <br>

      <div class="col">
      <div class="draw-border">
        
        <img src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no" alt="Person" class="card__image">
        <p class="card__name">Name: Dashmesh Singh</p>
        <div class="grid-container">
    
          <div class="grid-child-posts">
            Batch: B1
          </div>
    
          <div class="grid-child-followers">
            Roll no. : 97
          </div>
        </div>
        </div>
      </div>

      <div class="draw-border">
        <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
        <p class="card__name">Name: Anushka Yadav</p>
        <div class="grid-container">
    
          <div class="grid-child-posts">
            Batch: B1
          </div>
    
          <div class="grid-child-followers">
            Roll no. : 76
          </div>
    
        </div>
       
      </div>
    </div>
</div>
</body>
</html>