html,body{
    height: auto;
    width: auto;
}
.table{
    width: 100%;
    height: 100%;
}
.table .table-hover{
    background-color: #E6E6FA;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: inline-table;
    /* left: 80px; */
   
    
}

th {
    text-align: center;
}


/* .th{
    align-items: center;
    justify-items: center;
    left: 20px;
    display: flex;
} */

.container, .container-lg, .container-md, .container-sm {
    max-width: 220px;
}

.col-md-12{
    max-width: 100%;
   background-color: black;
   
}


.row{
    margin-left: 0px;
}